body {
    font-family: "Montserrat", sans-serif;
}

nav a {
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  @media ( max-width: 650px ) {
    .btn-grad {
        display: block;
    }
  }  

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    animation: slidedown 3s;
}

@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;;}
}

@keyframes slidedown {
    0% { transform: translate(-100%);}
    100% { transform: translate(0%)}
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
}

section#about p::first-letter{
    color: palevioletred;
    font-style: italic;
    font-size: 3em;
}

h3 {
    color: palevioletred;
}
section#goal{
    background-color: whitesmoke;
    display: inline-block;
}

section#goal p::first-letter{
    color: skyblue;
    font-style: italic;
    font-size: 3em;
}

section#hobby p:first-of-type::first-letter{
    color: palevioletred;
    font-style: italic;
    font-size: 3em;
}

figure {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
  }
  
  @media ( max-width: 650px ) {
    .cat {
        max-width: 100%;
        height: auto;
    }
  } 

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}

th, td {
    background-color: rgb(206, 234, 245);
    padding: 0.25em 1em;
}

section#contact{
    background-color: whitesmoke;
}

.linkedin {
    box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.linkedin:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

.content {
    max-width: 960px;
    margin: auto;
    padding: 10px;
    animation: fadein 5s;
  }

/* incrementing counting numbers color change */
.even {
    color: blue;
}
.odd {
    color: red;
}

footer{
    text-align: center;
    background-image: linear-gradient(white,#bfe9ff)
}